 :root {
  --main-blue-color: #0973a8;
  --light-text-color: #fff;
}

.footer {
  background-color: var(--main-blue-color);
}

.footer-link {
    text-decoration: none;
    color: var(--light-text-color);
    padding-bottom: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
}

.footer-col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-text-color);
}
.footer-col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--light-text-color);
}

.footer-col p {
  margin-bottom: 1rem;
  color: var(--light-text-color);
  cursor: pointer;
  transition: 0.3s;
}

.footer-col a {

    text-decoration: none;
    color: inherit;
    display: block; /* Ensure anchor tags fill the width of their container */
    margin-bottom: 5px; /* Add margin between links */
    color: var(--light-text-color);
}

.footer-col a:hover {
    text-decoration: underline; /* Change color on hover */
}

.footer-col p:hover {
  color: #000;
}

.footer-bar {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--light-text-color);
  text-align: right;
  overflow: hidden;
}

.footer-bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: #767268;
}

.section-container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}
/* Styles for the container that holds the search area */
#search-container {
    text-align: center;
    position: relative;
    padding: 10px 0;
  }
  
  /* Styles for the dropdown container, search input, and search button */
  #dropdown-container,
  #search-box,
  #search-btn {
    float: left;
    margin: 0;
  }
  
  /* Styles for the 'Filters' dropdown button */
  .dropbtn {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 24px;
    border-radius: 3px 0px 0px 3px;
    margin-right: -1px;
  }
  
  /* Styles for the search input field */
  #search-box {
    width: 300px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 0px;
    padding: 5px;
    margin: 0;
  }
  
  /* Styles for the 'Search' button */
  #search-btn {
    background-color: orange;
    height: 24px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
  }
  
  /* Styles for the content that shows up when you click the 'Filters' button */
  .dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    font-size: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-left: 0;
    text-align: left;
  }
  
  /* Styles for the container that will display search results */
  #results-container {
      display: none;
      position: absolute; 
      width: 400px;
      top: 100%; 
      background-color: white; 
      border: 1px solid #ccc; 
      z-index: 1;
      color:black;
  }
  
  /* Styles for the container that holds the search area */
  #search-container {
    text-align: center;
    position: relative;
    padding: 10px 0;
  }
  
  /* Styles for the dropdown container, search input, and search button */
  #dropdown-container,
  #search-box,
  #search-btn {
    float: left;
    margin: 0;
  }
  
  /* Styles for the 'Filters' dropdown button */
  .dropbtn {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 24px;
    border-radius: 3px 0px 0px 3px;
    margin-right: -1px;
  }
  
  /* Styles for the search input field */
  #search-box {
    width: 300px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 0px;
    padding: 5px;
    margin: 0;
  }
  
  /* Styles for the 'Search' button */
  #search-btn {
    background-color: orange;
    height: 24px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
  }
  
  /* Styles for the content that shows up when you click the 'Filters' button */
  .dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    font-size: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-left: 0;
    text-align: left;
  }
  
  /* Styles for the container that will display search results */
  #results-container {
      display: none;
      position: absolute; 
      width: 400px;
      top: 100%; 
      background-color: white; 
      border: 1px solid #ccc; 
      z-index: 1;
      color:black;
  }
.section-container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 20px; 
  left: 0px;
  transition: opacity 0.6s ease;
  opacity: 0;
}

.logo img {
  width: 24%;
  height: auto;
}

.navbar:hover .logo {
  opacity: 1; 
}

.navbar {
  top: 0;
  left: 0;
  background-color: #0973a8;
  color: #fff;
  padding: 10px 20px; 

  transition: height 0.6s ease; 
  height: 50px; 
  overflow: hidden; 
}

.navbar:hover {
  height: 198px;
}

.navbar-container {
  justify-content: space-between; 
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
  transition: bottom 0.6s ease; 
}

.navbar:hover .nav-links {
  bottom: -150px; 
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center; 
  flex-grow: 1; /* Allow the container to grow to fill available space */
  flex-direction: column;
  display: flex;
  padding-bottom: 100px;
  align-items: center; /* Ensure items inside the container are centered horizontally */
}

.container h1 {
  margin-bottom: 20px; 
  position: relative;
}

.container h1::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 2px;
  background-color: #0973a8; 
}

.container p {
  margin-bottom: 20px;
}
