/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Logo Styles */
.logo {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 20px; 
    left: 0px;
    transition: opacity 0.6s ease;
    opacity: 0;
}

.logo img {
    width: 24%;
    height: auto;
}

/* Navbar Styles */
.navbar {
    top: 0;
    left: 0;
    background-color: #0973a8;
    color: #fff;
    padding: 10px 20px; 
    transition: height 0.6s ease; 
    height: 50px; 
    overflow: hidden; 
}

.navbar:hover .logo {
    opacity: 1; 
}

.navbar:hover {
    height: 198px;
}

.navbar-container {
    justify-content: space-between; 
    align-items: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: flex-end;
    transition: bottom 0.6s ease; 
}

.navbar:hover .nav-links {
    bottom: -150px; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    position: relative;
    color: #0973a8;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
}

h1::after, h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #0973a8;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: #0973a8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
:root {
    --main-blue-color: #0973a8;
    --light-text-color: #fff;
}

.footer {
    background-color: var(--main-blue-color);
}

.footer-link {
    text-decoration: none;
    color: var(--light-text-color);
    padding-bottom: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
}

.footer-col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-text-color);
}

.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light-text-color);
}

.footer-col p {
    margin-bottom: 1rem;
    color: var(--light-text-color);
    cursor: pointer;
    transition: 0.3s;
}

.footer-col a {
    text-decoration: none;
    color: inherit;
    display: block; /* Ensure anchor tags fill the width of their container */
    margin-bottom: 5px; /* Add margin between links */
    color: var(--light-text-color);
}

.footer-col a:hover {
    text-decoration: underline; /* Change color on hover */
}

.footer-col p:hover {
    color: #000;
}

.footer-bar {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--light-text-color);
    text-align: right;
    overflow: hidden;
}

.footer-bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: #767268;
}

.section-container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

/* Search Container Styles */
#search-container {
    text-align: center;
    position: relative;
    padding: 10px 0;
}

#dropdown-container,
#search-box,
#search-btn {
    float: left;
    margin: 0;
}

.dropbtn {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 24px;
    border-radius: 3px 0px 0px 3px;
    margin-right: -1px;
}

#search-box {
    width: 300px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 0px;
    padding: 5px;
    margin: 0;
}

#search-btn {
    background-color: orange;
    height: 24px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    font-size: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding-left: 0;
    text-align: left;
}

#results-container {
    display: none;
    position: absolute; 
    width: 400px;
    top: 100%; 
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 1;
    color: black;
}
